.pack-thumbnail {
  height: 166px;
  width: 166px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pack-thumbnail-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.thumbnail-edit {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.pack-thumbnail-container:hover .thumbnail-edit {
  display: flex;
}

.pack-title {
  font-size: 20px;
}

.pack-caption {
  font-size: 14px;
  color: #6d7175;
  font-weight: 400;
}

.bold-caption {
  font-weight: 500;
}

.pack-sub-caption {
  font-size: 11px;
  color: #6d7175;
}

.viewport-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin: auto;
  justify-content: flex-end;
}
